body {
  padding: 0;
  margin: 0;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 5px;
  background-color: #d6d3d1;
  text-align: center;
}

.title {
  padding: 1rem 0 0 1rem; /* Remove default padding */
}

.description {
  padding: 1rem 0 0 1rem; /* Remove default padding */
  line-height: 1.7;
}
button {
  margin: 0 0 0 1rem;
  color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 120px;
}
#btn1 {
  background-color: #d6d3d1;
  border-color: #d6d3d1;
}

#btn2 {
  background-color: #d6d3d1;
  border-color: #d6d3d1;
}
#btn3 {
  background-color: #d6d3d1;
  border-color: #d6d3d1;
}
#btn4 {
  background-color: #d6d3d1;
  border-color: #d6d3d1;
}

.button.active {
  text-decoration: underline;
  font-weight: 900;
  color: #2563eb;
}

svg {
  padding: 2rem;
  background-color: #d6d3d1;
}

.line {
  fill: none;
  stroke-width: 2px;
}
.figure-container {
  margin: 0;
  padding: 0;
}

.figure-container figure {
  margin: 0;
  padding: 0;
}

.figure-container p {
  margin: 0; /* Remove default margin */
  padding: 1rem 0 0 1rem; /* Remove default padding */
}

figure figcaption {
  width: 855px;
  background-color: #d6d3d1;
  margin: 0 0 0 1rem;
  padding: 5px;
  text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d6d3d1;
  text-align: center;
  padding: 10px;
}
