body {
  padding: 0;
  margin: 0;
  font-size: larger;
}

h1 {
  padding: 1rem;
}
button {
  margin: 0 0 0 1rem;
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 100px;
}
#addBtn {
  background-color: #0369a1;
  border-color: #0369a1;
}
#rmBtn {
  background-color: #b91c1c;
  border-color: #b91c1c;
}

p {
  padding: 0 0 0 1rem;
}

svg {
  /* margin: 2rem; */
  padding: 2rem;
  background-color: #a8a29e;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #44403c;
  text-align: center;
  padding: 10px;
  color: #e2e8f0;
}

.button.active {
  text-decoration: underline;
  font-weight: 900;
}
